@charset 'utf-8';
@import url('common.css');


.daonpage{
   margin-top: 30px;
   text-align: center;
}

.portfolio{
    margin-top: 20px;
    margin-left: 20px;
}    

@media (orientation:landscape){
    .daonpage img{width:100%;}
}

@media (min-width:1025px) and (max-width:1900px){

}
@media (min-width:768px) and (max-width:1024px){
    .daonpage img{width:100%}
}